.menu-superior {
    position: sticky;
    top; 0;
    left: 0;
    z-index: 1;
}

.menu-superior .palanca {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    opacity: 0;
}

.hamburguesa .menu-superior {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 3.75rem;
    height: 3.75rem;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Linea de la hamburguesa */
.hamburguesa .menu-superior > div {
    position: relative;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

