:root {
    --primary-color: rgba(13, 110, 139,  0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

.html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    top: 0;
    margin: 0;
}

.main-header {
    width: 100%;
    background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white); 
    display: flex;
    justify-content: space-between;
    height: 4.65rem;
}

.header {
    position: sticky;
    top: 0;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0; 
}

.img-logo, .img-logo-menu-wrap {
    padding: 0;
    border: 0;
    margin: 0;
    height: 4.5rem;
    width: 16.5rem;
    margin-left: 5rem;
}

.main {
    max-width: 60rem;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.menu-wrap {
    display: none;
}

.main-menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-menu li {
    border-right: 0.0625rem solid #fff;
    height: 4.6rem;
}

.main-menu li:hover {
    background: rgba(0,0,0,0.3);
}

.main-menu li a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.titulo-programa {
    font-size: 1.5rem;
}

.descripcion-admin {
    width: 100%;
    margin: auto;
}

.title3 {
    font-size: 1rem;
    color: #4e94ab;
}

.img-descripcion, 
.img-caracteristicas {
    float: left;
}

.img-beneficios {
    float: right;
}

.footer {
    background:linear-gradient(to left, #4e94ab, #4e94ab 40%, white);
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-footer-all {
    width: 100%;
    margin: auto;
    padding: 0;
}

.container-body {
    display: flex;
    justify-content: space-around;
    height: 13rem;  
}

.colum1 {
    max-width: 400px;
}

.colum1 h4 {
    font-size: 1.375rem;
}

.colum1 p {
    font-size: 0.875rem;
    color: black;
    margin: 0;
}

.colum2 {
    max-width: 400px;
}

.colum2 h4 {
    font-size: 1.175rem;
}

.colum2 .row {
   padding: 0;
}

.row a {
    text-decoration: none;
}

.row p {
    margin-top: 10px;
    margin-left: 20px;
    color: black;
}

.colum2 li {
    display: flex;
    justify-content: left;
    align-items: center;
}

.row, .information li {
    list-style: none;
}

.row a p {
    margin-top: 10px;
    margin-left: 10px;
}

.colum3 {
    max-width: 400px;
    margin-right: 5rem;
}

.colum3 h1 {
    font-size: 1.375rem;
}

.row2 {
    margin; 0;
    display: flex;
}

.row2 p,a {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 340px;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
}

.copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to left, #4e94ab, #4e94ab 40%, white);
    margin: 0;
    height: 1.625rem;
}

.copyright p {
    margin: 0;
}

.colum1,
.colum2,
.colum3 {
    height: 16rem;
}

.footer h4 {
    margin: 0.3125rem;
    margin-bottom: 0.825rem;
    font-size: 1.175rem;
}

@media (max-width:768px) {
    .main-header {
        display: none;
    }

    .menu-wrap {
        display: flex;
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to left, #4e94ab, #4e94ab 40%, white);  
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 3.50rem;
        height: 3.50rem;
        opacity: 0;
    }
    
.hamburger {
    width: 3.50rem;
    height: 3.50rem;
}

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 0.125rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-list {
        list-style-type: none;
    }
    
    .menu-wrap .hamburger:before,
    .menu-wrap .hamburger:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    .menu-wrap .hamburger:after {
        top: 10px;
    }  
 
    .menu-wrap .toggler:checked + .hamburger {
        transform: rotate(360deg);
        transition: 0.5s;
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0,4s ease;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-width: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    .container-body{
        flex-wrap: wrap;
    }

    .footer {
        height: 100%;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}


/*Contacto*/

main {

}

form {
    width: 28rem;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 0.5rem,1rem
}

.formulario {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}
