<!DOCTYPE html>
<html lang="es" class="html">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Antonio Zapata">
        <meta name="description" content="portafolio de empresa victoria, texy y antonio">
        <link rel="shortcut icon" href="../media/briefcase.png" />
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <title>Portafolio Empresarial</title>
    </head>
    <body>
        <header class="encabezado">
                <div class="img-logo">
                    <h1><a href="http://alessandrogiammaria.com/" target=_blank><img src="../media/main-logo.png" alt="logo alexandro giammaria portafolio" id="main-logo"></a></h1>
                </div> 
                <nav class="navegacionsuperior">
                    <a href="./main.html">Main</a>
                    <a href="./products.html">Productos</a>
                    <a href="./team.html">Team</a>
                    <a href="./contact.html">Contacto</a>
                </nav>
        </header>
    <main>

    </main>
    <footer>

    </footer>
</body>